@model IEnumerable< AppcontableCompueasys2._2.Models.Data.Producto>



@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";  
    var myList = TempData["listaProductos"] as List<string>;
}


<h1 class="pt-5">Factura</h1>
<hr />





<div class="container-fluid">
    
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 bg-second-primary">

                            <form method="post" asp-action="buscarCliente" asp-controller="Facturas">
                                <div class="">
                                    <h6 class="m-0 font-weight-bold float-left text-white">Cliente</h6>
                                    <button class="float-right btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
                                    <input class="float-right" type="text" id="DaB" name="DaB" placeholder="Buscar Cliente" aria-label="Search for..." aria-describedby="btnNavbarSearch" />

                                </div>
                            </form>
                        </div>
                        @{
                            if (TempData["mensaje"] != null)
                            {


                                <div class="alert alert-danger" role="alert">
                                    @TempData["mensaje"]
                                </div>
                            }
                            else
                            {
                                if (@ViewBag.cedula !=null)
                                {
                                       <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-sm-3">
                                            <input type="text" class="form-control form-control-sm" value="@ViewBag.iduser" id="txtDocumentoCliente">
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <input type="text" class="form-control form-control-sm" id="txtDocumentoCliente" value="@ViewBag.cedula">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <input type="text" class="form-control form-control-sm" id="txtNombreCliente" value="@ViewBag.nombre" p>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <input type="text" class="form-control form-control-sm" id="txtDocumentoCliente" value="@ViewBag.direccion">
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <input type="text" class="form-control form-control-sm" id="txtDocumentoCliente" value="@ViewBag.ciudad">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <input type="text" class="form-control form-control-sm" id="txtDocumentoCliente" value="@ViewBag.correo">
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <input type="text" class="form-control form-control-sm" id="txtDocumentoCliente" value="@ViewBag.celular">
                                        </div>


                                    </div>
                                </div>
                                }
                            }
                        }



                    </div>
                </div>
            </div>

           

            <div class="row">

                <div class="col-sm-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 bg-second-primary">
                            <form method="post" asp-action="buscarProducto" asp-controller="Facturas">
                                <div class="">
                                    <h6 class="m-0 font-weight-bold float-left text-white">Producto</h6>
                                    <button class="float-right btn btn-primary"  id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
                                    <input class="float-right" type="text" id="DaB" name="DaB" placeholder="Buscar producto" aria-label="Search for..." aria-describedby="btnNavbarSearch" />

                                </div>
                            </form>
                        </div>
                        <div class="col-sm-12 pt-4">
                            <div class="card-boy">


                                <select id="ProductoSeleccionado" name="ProductoSeleccionado"  class="form-control" type="text">
                                    <option>Seleccione un producto</option>
                                    @foreach (var Producto in Model)
                                    {
                                        <option value="@Producto.IdProducto">@Producto.Nombre</option>
                                    }


                                </select>
                                    
                              
                                
                               
 
                               

                            </div>
                        </div>
                         
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-sm-12">
                                </div>
                            </div>
                                   
                            <div class="row">
                                <div class="col-sm-12">

                                    <table class="table table-striped table-sm border-3" id="tablaProducto" name="tablaProducto">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Codigo</th>
                                                <th>Producto</th>
                                                <th>Cantidad</th>
                                                <th>Precio</th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody >

                                          
                                            
                                                                                        
                                        </tbody>
                                    </table>
                                   
                                </div>
                            </div>
                        </div>
                       




                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-4">

            <div class="row">
                <div class="col-sm-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 bg-second-primary">
                            <h6 class="m-0 font-weight-bold text-white">Detalle</h6>
                        </div>
                        <div class="card-body">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="cboTipoDocumentoVenta">Tipo</label>
                                </div>
                                <select class="custom-select" id="cboTipoDocumentoVenta">
                                  
                                </select>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupSubTotal">Sub Total</span>
                                </div>
                                <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupSubTotal" id="txtSubTotal" name="txtSubTotal" disabled>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupIGV">IGV(18%)</span>
                                </div>
                                <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupIGV" id="txtIGV" disabled>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupTotal">Total</span>
                                </div>
                                <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupTotal" id="txtTotal" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="form-group mb-0">
                                <button class="btn btn-success btn-sm btn-block" id="btnTerminarVentar">Terminar Venta</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   


</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script src="~/vendor/select2/es.min.js"></script>
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/js/facturas.js"></script>
}

@*<script>
    $(document).redy(function () {
    var con = 0;
        $('#DaB').on('change', function () {

        let _Producto = $(this).find("option:selected").text();
        let total = $("#txtTotal").val() || 0;
        
        $("#tbProducto").append(`
          <tr>
              <td>${_Producto.val()}</td>
              <td>${_Producto.text()}</td>
              <td>${_Producto.attr("Precio")}</td>

         </tr>
        `);
        let sumaT = parseInt(total) + parseInt(_Producto.attr("Precio"));
        $("#txtTotal").text(sumaT);
        con++;
    }

 }
</script>*@