@model IEnumerable<AppcontableCompueasys2._2.Models.Data.Factura>

@{
    ViewData["Title"] = "Facturas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<div class="pt-4">



    <div class="container-fluid px-4">


        <div class="card mb-4">
            <div class="card-header">
                <div class="card-header py-3 bg-second-primary">
                    <h6 class="m-0 font-weight-bold text-white"> <i class="fas fa-table me-1"></i> Tabla de Clientes</h6>
                </div>
            </div>
            <div class="card-body">

                <table id="datatablesSimple" class="table-striped">
                    <thead>
                        <tr>
                            <th>
                                N° Factura
                            </th>
                            <th>
                                Cliente
                            </th>
                            <th>
                                Detalle de la compra
                            </th>
                            <th>
                                Total
                            </th>

                            <th>
                                Fecha
                            </th>



                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdFactura)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdCliente)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.IdDetalleCompra)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaCompra)
                                </td>

                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.IdFactura">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.IdFactura">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.IdFactura">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>



@section Scripts{
    <script src="~/js/vistas/productos.js"></script>
}
<p>
    <a class="btn btn-danger" asp-action="Create">NUEVO FACTURA</a>
</p>