@model IEnumerable<AppcontableCompueasys2._2.Models.Data.Cliente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                NOMBRE
            </th>
            <th>
                DIRECCION
            </th>
            <th>
                CELULAR
            </th>
            <th>
                CEDULA
            </th>
            <th>
                FECHA
            </th>
            <th>
                CIUDAD
            </th>
            <th>
               DEPARTAMENTO
            </th>
            <th>
                EMPRESA
            </th>
            <th>
                PAIS
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCiudadNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDepartamentoNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpresaNavigation.NombreEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPaisNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
