@model IEnumerable<AppcontableCompueasys2._2.Models.Data.Cliente>

@{
    ViewData["Title"] = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pt-4">
   

    
    <div class="container-fluid px-4">


        <div class="card mb-4">
            <div class="card-header">
                <div class="card-header py-3 bg-second-primary">
                <h6 class="m-0 font-weight-bold text-white"> <i class="fas fa-table me-1"></i> Tabla de Clientes</h6>
                </div>
            </div>
            <div class="card-body">
               
                <table id="datatablesSimple" class="table-striped">
                    <thead>
                        <tr>
                            <th>
                                CODIGO
                            </th>
                            <th>
                                CEDULA
                            </th>
                           <th>
                                NOMBRE
                            </th>
                            <th>
                                CORREO
                            </th>

                            <th>
                                DIRECCION
                            </th>
                            <th>
                                CELULAR
                            </th>

                           
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                 <td>
                                    @Html.DisplayFor(modelItem => item.Cedula)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Correo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Direccion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Celular)
                                </td>

                               
                               
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<p>
    <a class="btn btn-danger" asp-action="Create">NUEVO CLIENTE</a>
</p>
