@model IEnumerable<AppcontableCompueasys2._2.Models.Data.Empresa>

@{
    ViewData["Title"] = "Empresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




 @{
    if (Model != null)
    {
        <div class="container-fluid px-4 pt-5">


            <div class="card mb-4">
                <div class="card-header">
                    <div class="card-header py-3 bg-second-primary">
                        <h6 class="m-0 font-weight-bold text-white"> <i class="fas fa-table me-1"></i> Tabla de Empresas</h6>
                    </div>
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>
                                    Nombre de la Empresa
                                </th>
                                <th>
                                   Direeción
                                </th>
                                <th>
                                    Nit O Rut
                                </th>
                                <th>
                                   Telefono O Celular
                                </th>
                                <th>
                                    Correo
                                </th>
                                <th >
                                   Ciudad
                                </th>
                                <th >
                                    Departamento
                                </th>
                                <th >
                                   Pais
                                </th>
                                <th >
                                   Propietario
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreEmpresa)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DireecionEm)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NitORut)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TelefonoOCelular)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdCiudadNavigation.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdDepartamentoNavigation.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdPaisNavigation.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdPropietarioEmpresaNavigation.IdUsuario)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    }

 }


<p>
    <a class="btn btn-danger" asp-action="Create">Crear Nueva Empresa</a>
</p>
