@model IEnumerable<AppcontableCompueasys2._2.Models.Data.Producto>

@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<div class="container-fluid px-4">


    <div class="card mb-4 pt-5">
        <div class="card-header">
            <div class="card-header py-3 bg-second-primary">
                <h6 class="m-0 font-weight-bold text-white"> <i class="fas fa-table me-1"></i> Tabla de Productos</h6>
                </div>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">

                <thead>
                    <tr>
                        <th>
                            Codigo
                        </th>
                        <th>
                           Nombre
                        </th>
                        <th>
                           Descripcion
                        </th>

                        <th>
                           Cantidad
                        </th>

                         <th>
                           Precio
                        </th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdProducto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Stock)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Precio)
                            </td>

                            <td>
                                <a asp-action="Edit" asp-route-id="@item.IdProducto">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.IdProducto">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.IdProducto">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>


<p>
    <a class="btn btn-danger" asp-action="Create">Create New</a>
</p>



