@model IEnumerable<AppcontableCompueasys2._2.Models.Data.Producto>

@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid pt-4">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-white">Lista de Productos</h6>
        </div>
        <div class="card-body">
            
            <hr />
            <div class="row datatablesSimple">
                <div class="col-sm-12">
                    <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                            <tr>
                                <th>
                                    Codigo
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Descripcion
                                </th>

                                <th>
                                    Cantidad
                                </th>

                                <th>
                                    Precio
                                </th>

                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.IdProducto)
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>

                                    <td>
                                            @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.Stock)
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.Precio)
                                    </td>

                                        @*<td>
                                <a asp-action="Edit" asp-route-id="@item.IdProducto">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.IdProducto">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.IdProducto">Delete</a>
                                </td>*@
                                        @if (item.Activo == true)
                                        {
                                        <td><span class="badge badge-info">Activo</span></td>
                                        }
                                        else
                                        {
                                        <td><span class="badge badge-info">No activo</span></td>
                                        }


                                    <td>
                                        <button class="btn btn-primary btn-sm">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            <a asp-action="Edit" asp-route-id="@item.IdProducto" style="color:white">Edit</a>

                                        </button>
                                        <button class="btn btn-sm">
                                            <i class="fas fa-file-archive">

                                            </i>
                                            <a asp-action="Detail" asp-route-id="@item.IdProducto">Detalles</a>
                                        </button>
                                        <button class="btn btn-sm">
                                            <i class="fas fa-trash-alt">

                                            </i>
                                            <a asp-action="Delete" asp-route-id="@item.IdProducto">Eliminar</a>
                                        </button>
                                        
                                    </td>
                                </tr>
                                <tr>
                                </tr>
                                }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-plus-circle"></i> Nuevo Producto</button>
        </div>
    </div>




   


</div>





<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Nuevo Producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <form asp-action="Create" method="post">

                    <div class="row container">

                        <div class="col-sm-6">

                            <div class="  ">

                                <div class="">

                                    <div class="form-row">
                                        <div class="form-group col-sm-12">
                                            <label Id="Nombre" class="control-label">Nombre</label>
                                            <input Id="Nombre" name="Nombre" class="form-control" />
                                            <span Idr="Nombre" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-sm-12">
                                            <label Id="Descripcion" class="control-label">Descaripcion</label>
                                            <input Id="Descripcion" name="Descripcion" class="form-control" />
                                            <span Id="Descripcion" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-sm-12">
                                            <label Id="Precio" class="control-label">Precio</label>
                                            <input Id="Precio" name="Precio" class="form-control" />
                                            <span Id="Precio" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-sm-12">
                                            <label  class="control-label">Cantidad</label>
                                            <input Id="Stock" name="Stock" class="form-control" />
                                            <span Id="Stock1" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>



                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class=" ">

                                <div class="">

                                   
                                        <div class="form-row">
                                            <div class="form-group col-sm-12">
                                                <label  class="control-label">Marca</label>
                                            <select Id="IdMarca" name="IdMarca" class="form-control">
                                            </select>
                                           
                                            </div>
                                        </div>
                                 
                                    
                                    <div class="form-row">
                                        <div class="form-group col-sm-12">
                                            <label  class="control-label">Categoria</label>
                                            <select Id="IdCategoria" name="IdCategoria" class="form-control"></select>
                                        </div>
                                    </div>

                                    @*<div class="form-row">
                                        <div class="form-group col-sm-12">
                                            <label Id="RutaImagen" class="control-label"></label>
                                            <input Id="RutaImagen1" class="form-control" />
                                            <span Id="RutaImagen" class="text-danger"></span>
                                        </div>
                                    </div>*@

                                    <div class="form-row"hidden>
                                        <div class="form-group col-sm-12">
                                            <div class="form-group">
                                             <label id="IdEmpresa" class="control-label">Empresa</label>
                                                <input id="IdEmpresa" name="IdEmpresa" class="form-control" value="@ViewBag.IdEmpresa">
                                             </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-sm-12">
                                            <div class="form-group">
                                                <label id="activo" class="control-label">activo</label>
                                                <select id="activo" name="activo" class="form-control">
                                                    <option>Si</option>
                                                    <option>No</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-12">
                            <input type="submit" value="Guardar" class="btn btn-primary col-sm-12" />
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/vistas/productos.js"></script>
}







