@model AppcontableCompueasys2._2.Models.Data.Nomina

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Nomina</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalApagar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalApagar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descuentos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descuentos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorEps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorEps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorPension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorPension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConseptoNomina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConseptoNomina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConseptoDescuentos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConseptoDescuentos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Auxilio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Auxilio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpleadoNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpresaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpresaNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
